.firstsec {
  display: flex;
  flex-direction: row;
  margin: 80px 140px;
}

.img {
  width: 100px;
  height: 150px;
  margin-right: 50px;
}

.text {
  display: flex;
  flex-direction: column;
}

.normaltext {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.card {
  width: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  margin: 40px 80px;
}

.detailsandimg {
  display: flex;
  flex-direction: column;
}

.imgandprice {
  display: flex;
  flex-direction: row;
}

.wineimg {
  width: 100px;
  height: 350px;
}

.pricebtn {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin: 150px 40px;
  background-color: green;
  color: #fff;
}

.details {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 20px;
  margin-left: 10px;
}
